run = "npm start"
entrypoint = "server.js"
language = "nodejs"
modules = ["nodejs-20"]

[env]
PORT = "3000"

[[ports]]
localPort = 3000
externalPort = 80

[deployment]
deploymentTarget = "gce"
run = ["sh", "-c", "npm start"]

[agent]
expertMode = true

[nix]
packages = ["unzip"]
